
<h1> <%= @blogger.name %> </h1>
<br>
<h3> <%= @blogger.bio %></h3>

<% @blogger.posts.each do |post| %>
<br>
<%=link_to post.title, post%> <%= post.likes%>
<% end %>


<br>
<h1> Featured Blog Post </h1>
<% if !@blogger.posts.empty?%>
<% post = @blogger.posts.max_by {|x| x.likes}%>
<%= link_to post.title, post%>
<% end %>


<br>

<h1> Total Likes Count </h1>

<%= @blogger.posts.sum(&:likes)%>

<h1> Top 5 Destinations for me! </h1>
<% x = @blogger.destinations %>
<% x.each do |destination| %>
<% destination %>
<% end %>

<% hash = {}%>

<% x = @blogger.destinations.group(:name).count.sort_by{|k,v| -v} %> 
<% x.first(5)%>
<br>
<%x.each do |k,v|%>
<%= k %>
<%end%>